<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentListenerClass"></listener>
    </listeners>
    <test name="APITest">
        <classes>
           <!-- <class name="api.tests.UserDDTest"></class>-->
            <class name="api.tests.UserTest"></class>
        </classes>
    </test>
</suite>